services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=sqlite:///./l8tefuel.db
      - SECRET_KEY=supersecretkeychangeit
    restart: always
